.navigation-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-bottom: none;
  height: 100px;
}

.logo a {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.ant-menu-item a {
  color: #000;
  font-weight: normal;
  font-size: 18px;
 text-transform: uppercase;
 margin-right: 100px;
}

.ant-menu-item:hover a {
  color: #1890ff;
}

.ant-menu-item-selected a {
  color: #1890ff;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item::after {
  border-bottom: none;
}
